body
{
   
    margin:0;
    padding: 0;
    list-style: none;
    background-color: black;
    
    
}
header{
    margin-left:50px;
    margin-right: 100px;
}
footer
{
    display: flex;
    justify-content: space-between;
    padding:10px;
    height: 10vh;
    background-color:rgb(43, 42, 42) ;    
    align-items: center;
}
.icon
{
    display: none;
}
.navbar
{ 
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}
ul
{
    display: flex;
    align-items: center;
    list-style: none;
    background-color:rgb(43, 42, 42) ;    
    border-radius: 10px;
    padding: 20px;
    
    
}
li
{
    margin:0 10px;
}
.logo-cpj
{
    float: right;
}
.navbar a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a
{
    text-decoration: underline;
    color: rgb(114, 34, 34);
}
.navbar a:hover
{
    text-decoration: none;
    color: rgb(114, 34, 34);
}
.navbar a:active
{
    text-decoration:underline;
    color: rgb(114, 34, 34);
}
.soustitres
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
}
.titres
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large; 
    color: white; 
    margin-left:20px;
    margin-right: 0px;
}
.text
{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
    margin-left:50px;
    margin-right: 50px;
}
.text1
{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    
}
#container
{
    display: flex;
    gap: 3em;  
    flex-direction: column;
    
}
#container01
{
    display: flex;
    gap: 5em;
    margin: 30px;
}
#liens
{
    display: flex;
    background-color: rgb(43, 42, 42);
    align-items: center;
    gap:1em;
    margin-bottom: 10%;
}
#text
{
   order:1; 
   margin-right: 10%;
}
#images
{
    flex:1;
    display: flex;
    gap: 2em;
    align-items: center;
}
#image1
{
    flex:1;
    display: flex;
    gap: 2em;
    justify-content: flex-start;
    order: 2;
    margin-left: 70px;
}
#text1
{
    order:3;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-wrap: wrap;
}
#text2
{
    display: block;
    margin: 3%;
}
#pubs
{
   order:2; 
   display: flex;
   justify-content:space-around ;
   align-items: center;
   
}
#form
{
    background-color: rgb(43, 42, 42);
    padding: 20px;
    border-radius: 10px;
}
a .logo
{
    display:block;
    width: 100px;
}
.numero
{
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: none;
}
.pubs
{
    display:block;
}
.img
{
    width: 600px;
}
.liens
{
    display:block;
    height: 500px;
    padding: 10px;
    padding-right: 30px;
    
    
}
@media (max-width:900px){
    .navbar{
        
        display: block;
        margin: 0px;
        padding: 0px;
    
    }
    .icon
    {
        display: none;
        flex: 1;
    }
    ul 
    {
        display: none;
    }
    footer 
    {
        margin-right:0px;
        height: 10vh;
        padding: 20px;
        justify-content: center;
        width: 90%;
        margin-right: 100px;
    }
    footer .text 
    {
        font-size: smaller;
    }
    footer .text1
    {
        font-size: smaller;
        flex: 1;
    }
    a 
    {
        text-decoration:underline;
        color: white;
    }
    .soustitres
    {
        font-size: x-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .titres
    {
        font-size: xx-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .text
    {
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        margin: 0px;
        order: 1;
    }
    footer .numero
    {
       
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        display: block;
       
    }
    .img 
    {
        width: 350px;
        order:2;
    }
    .liens
    {
        display:flex;
        flex-direction: column;
        margin-top: 40%;
        align-items: center;
        height: 600px;
        padding-top: 30px;
    }
    a .logo
    {
        width: 150px;
        margin-left: 90px;
    }
}